<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1 main-content">
    <h1 class="text-center">Company List</h1>
        <legend>Company Details</legend>
        <input type="hidden" data-ng-model="companiesCtrl.company.id" />
        <div class="info">
          <ul>
            <li>Name: {{companiesCtrl.company.name}}</li>
            <li>Address: {{companiesCtrl.company.adddress}}</li>
            <li>City: {{companiesCtrl.company.city}}</li>
            <li>Country: {{companiesCtrl.company.country}}</li>
            <li>Email: {{companiesCtrl.company.email}}</li>
            <li>Phone: {{companiesCtrl.company.phone}}</li>
            <li>Beneficial Owner(s):</li>
            <li data-ng-repeat="owner in companiesCtrl.company.beneficiaryOwners">
            	<ul>
		        	<li>Name: {{owner.name}}</li>
	          	</ul>
            </li>
            <li><a ng-href ="#/companies/{{companiesCtrl.company.id}}/addOwners">✔ ADD OWNER(S)</a></li>
          </ul>
        </div>
  </div>
</div>
